@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto+Mono:wght@200;400&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* My code */

body {
    min-height: 100vh;
    background-color: rgba(245, 222, 179, 0.315);
    font-family: 'Roboto Mono', monospace;
}

nav {
    width: 100vw;
    height: 60px;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.map__container {
    background-color: rgba(0, 0, 255, 0.048);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

#map {
    margin: 25px;
    padding: 25px;
    min-height: 70vh;
    width: 95vw;
    /* background-color: red; */
    border-radius: 5px;
    z-index: 0;
}



/*  || SIDE NAV */

.side-nav {
    background-color: rgba(0, 0, 255, 0.5);
    color: whitesmoke;
    width: 10rem;
    height: 20rem;
    position: absolute;
    z-index: 1;
    /* display: flex;
    flex-wrap: nowrap; */
    top: 85px;
    right: 25px;
    border-radius: 0px 5px 5px 5px;
}

.side-title {
    min-width: 100%;
    text-align: center;
    margin-top: 1rem;

}

.grid_bus {
    min-width: 100%;
    position: inherit;
    display: grid;
    grid-auto-rows: minmax(30%, 30px);
    grid-template-columns: repeat(4, 25%);
}


.b10 {
    grid-column: 1;
    grid-row: 1;
}

.b13 {
    grid-column: 2;
    grid-row: 1;
}

.b20 {
    grid-column: 1;
    grid-row: 2;
}

.b21 {
    grid-column: 2;
    grid-row: 2;
}

.b22 {
    grid-column: 3;
    grid-row: 2;
}
 
.b30 {
    grid-column: 1;
    grid-row: 3;
}

/*.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
}

.b10 {
    grid-column: ;
    grid-row: ;
} */