@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto+Mono:wght@200;400&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    font-style: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* VARIABLES */
:root {
    --TEXT: #26220d;
    --BACKGROUND: #faf8f0;
    --PRIMARY: #b3d175;
    --SECONDARY: #bee7b6;
    --ACCENT: #469d34;
    --ACCENT-RETURN: #9d3460;
    --SIDE-TEXT: #e1ebd1;
    --BT-HOVER: rgba(255, 255, 255, 0.24)
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --TEXT: #f2eed9;
    --BACKGROUND: #0f0d05;
    --PRIMARY: #6b8a2e;
    --SECONDARY: #204918;
    --ACCENT: #74cb62;
  }
} */
/* My code */
html {scroll-behavior: smooth;}

body {
    min-height: 100vh;
    background-color: var(--BACKGROUND);
    font-family: 'Roboto Mono', monospace;
}

nav {
    /* width: 100vw; */
    height: 60px;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    color: #fff;
    /* text-align: center; */
    background-color: var(--SECONDARY);
    text-shadow: 1px 1px 2px var(--TEXT);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-container, .a-nav {
    align-items: baseline;
}

.a-nav {
    font-size: 1.5rem;
    /* background-color: rgba(0, 0, 0, 0.07); */
    /* border: #26220d 0.5px solid; */
    height: 40px;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.map__container {
    background-color: rgba(0, 0, 255, 0.048);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

#map {
    margin: 25px;
    padding: 25px;
    height: 70vh;
    width: 95vw;
    border-radius: 5px;
    z-index: 0;
}



/*  || SIDE NAV */

.side-nav-container {
    color: var(--SIDE-TEXT);
    width: 12rem;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 85px;
    right: 25px;
    border-radius: 0px 5px 5px 5px;
    transition: background-color 0.5s ease-in-out;
}

.side-nav {
    background-color: var(--ACCENT);
    opacity: 0.85;
    z-index: 1;
    transition: background-color 0.5s ease-in-out;
    margin-bottom: 5px;
    border-radius: 0px 5px 5px 5px;
}

.container-title {
    width: 90%;
    height: 1.8rem;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.side-title {
    min-width: 4rem;
    height: 2rem;
    text-align: center; 
    border-radius: 0 5px 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box; 
    flex-flow: row nowrap;
}

.grid_bus {
    border-top: 1px solid rgba(245, 245, 245, 0.363);
    background-color: rgba(8, 8, 133, 0.5);
    height: 250px;
    position: relative;
    overflow: visible;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 25%);
    padding: 5px;
    /* border-bottom-left-radius: 5px; */
}

.n_bus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button, #button {
    padding: 0;
    font-size: 1rem;
    background: none;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: var(--SIDE-TEXT);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

button {
    color: var(--SIDE-TEXT);
}

button:active {
 transform: scale(0.987);
}


#button:hover,
#button:focus-visible,
.button:focus-visible,
.button:hover {
    background-color: var(--BT-HOVER);
    border-radius: 5px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    /* border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255)) 1; */
}

.side-button {
    background: none;
    position: static;
    border-style: inherit;
    height: 1.5rem;
    background-color: rgba(240, 248, 255, 0.219);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}

button, .side-button:hover {
    border: 1px solid rgba(255, 255, 255, 0.377);
}

.info-display {
    background-color: var(--ACCENT);
    opacity: 0.85;
    color: #DDFFD9;
    width: 12rem;
    height: 150px;
    z-index: 1;
    top: 300px;
    border-radius: 5px 0 0 5px;
    transition: background-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.display-line {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.466);
    color: black;
    width: auto;
    margin: 3px;
    border-radius: 5px;
    padding: 3px;
}

.info-text {
    margin-top: 5px;
}
.info-display .info-link {
    display: flex;
    justify-self: flex-end;
    position: inherit;
    bottom: 5px;
    font-size: small;
    color: #DDFFD9;
}


/* ------ GRID COLUMNS ---------- */
.b10 {
    grid-column: 1;
    grid-row: 1;
}

.b13 {
    grid-column: 2;
    grid-row: 1;
}

.b20 {
    grid-column: 1;
    grid-row: 2;
}

.b21 {
    grid-column: 2;
    grid-row: 2;
}

.b22 {
    grid-column: 3;
    grid-row: 2;
}
 
.b30 {
    grid-column: 1;
    grid-row: 3;
}

.b31 {
    grid-column: 2;
    grid-row: 3;
}

.b40 {
    grid-column: 1;
    grid-row: 4;
}

.b41 {
    grid-column: 2;
    grid-row: 4;
}

.b50 {
    grid-column: 1;
    grid-row: 5;
}

.b51 {
    grid-column: 2;
    grid-row: 5;
}

.b55 {
    grid-column: 3;
    grid-row: 5;
}

.b55b {
    grid-column: 4;
    grid-row: 5;
}

.b60 {
    grid-column: 1;
    grid-row: 6;
}

.b61 {
    grid-column: 2;
    grid-row: 6;
}

.b70 {
    grid-column: 1;
    grid-row: 7;
}

.b71 {
    grid-column: 2;
    grid-row: 7;
}

.b72 {
    grid-column: 3;
    grid-row: 7;
}

.b80 {
    grid-column: 1;
    grid-row: 8;
}

.b81 {
    grid-column: 2;
    grid-row: 8;
}

.b82 {
    grid-column: 3;
    grid-row: 8;
}

.b84 {
    grid-column: 4;
    grid-row: 8;
}
/* ------ GRID COLUMNS END------- */

/* HORARIOS */
.horarios {
    height: 700px;
    background-color: var(--ACCENT);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.horarios-img-container {
    background-color: var(--PRIMARY);
    flex: 1;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

.horarios-image {
    width: 80%;
    object-fit: cover;
    object-position: top;
    /* background-image: radial-gradient(circle, var(--BACKGROUND)40%, var(--PRIMARY)) */
}
.horarios-img-container::-webkit-scrollbar {
  width: 10px; /* Set the scrollbar width */
  background-color: transparent; /* Set the scrollbar background color */
}
.horarios-img-container::-webkit-scrollbar-thumb {
  background-color: var(--TEXT); /* Set the scrollbar thumb color */
  border-radius: 6px; /* Set the scrollbar thumb border radius */
}
/* END HORARIOS */

/* FOOTER */
footer {
    background-color: var(--SECONDARY);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.version {
    font-size: 12px;
    color: var(--TEXT);
    
}

/* ------ RESPONSIVE ------- */

@media only screen and (max-width: 600px) {
    body {
        /* background-color: aquamarine; */
        height: 150vh;
    }
    nav, .title {
        position: sticky;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #map {
    height: 50vh; 
    margin: 5px;
    }
    .side-nav-container {
        width: auto;
        display: flex;
        position: inherit;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-flow: column-reverse nowrap;
        margin: 5px;
    }
    .side-nav {
        width: auto;
        margin-bottom: 0;
        border-radius: 5px;
    }
    .container-title {
        height: 3rem;
    }
    .info-display {
        flex-flow: row nowrap;
        width: auto;
        height: auto;
        margin-bottom: 3px;
        padding: 4px;
        font-size: small;
        border-radius: 5px;
        text-align: center;
    }
}


@media only screen and (max-height: 600px) {
        .map__container {
    background-color: rgba(0, 0, 255, 0.048);
    max-width: 100vw;
    position: inherit;
    }
    #map {
    margin: 5px;
    }
    .side-nav-container {
        width: auto;
        display: flex;
        position: inherit;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-flow: column-reverse nowrap;
        margin: 5px;
    }
    .side-nav {
        width: auto;
        margin-bottom: 0;
        border-radius: 5px;
    }
    .container-title {
        height: 3rem;
    }
    .info-display {
        flex-flow: row nowrap;
        width: auto;
        height: auto;
        margin-bottom: 3px;
        padding: 4px;
        font-size: small;
        border-radius: 5px;
        text-align: center;
        justify-content: space-between;
    }
}